* .footerContainer {

    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    height: 10rem;
    background-color: lightgrey;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

}
